name: Run AWS Glue Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  container-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Run Tests
        uses: docker://amazon/aws-glue-libs:glue_libs_4.0.0_image_01
        with:
          workdir: /home/glue_user/workspace
          entrypoint: /bin/bash
          args: -c "python3 local_glue_test.py"
